<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход iMSITChat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>
    <div class="auth-card">
        <h2>Вход</h2>
        <div id="error-msg" class="error"></div>
        <div class="input-group">
            <label>Имя пользователя</label>
            <input type="text" id="username">
        </div>
        <div class="input-group">
            <label>Пароль</label>
            <input type="password" id="password">
        </div>
        <button id="loginBtn">Войти</button>
        <div class="footer-link">Нет аккаунта? <a href="/register">Создать</a></div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>